<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.sqlitefutbolpantallas"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="7"
        android:targetSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.sqlitefutbolpantallas.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:label="Actualizar2" android:name=".Actualizar2"></activity>
        <activity android:label="Actualizar" android:name=".Actualizar"></activity>
        <activity android:label="Eliminar" android:name=".Eliminar"></activity>
        <activity android:label="Eliminar2" android:name=".Eliminar2"></activity>
        <activity android:label="Consultar" android:name=".Consultar"></activity>
        <activity android:label="Consultar2" android:name=".Consultar2"></activity>
        <activity android:label="Insertar" android:name=".Insertar"></activity>
    </application>

</manifest>
